body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

input {
	max-width: 60px;
}

circle.selected {
	stroke: lightgreen;
	stroke-width: 2px;
}

line.sound {
	stroke: black;
	stroke-width: 1px;

	&.selected {
		stroke: lightgreen;
		stroke-width: 4px;
	}
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

tbody tr > th + th, tbody tr > td + td {
	border-left: 1px solid black;
}

tr.selected {
	background-color: lightgreen;
}

.hide {
	display: none !important;
}

#root {
	align-items: center;
	display: flex;
	flex-flow: column nowrap;
	justify-content: middle;
	width: 100%;
}

.speaker-container.invalid {
	background-color: red;
}

.speaker-list-item {
	align-items: baseline;
	display: flex;

	.speaker-list-item-index {
		margin-right: 5px;
	}
}

.speaker-visualizer-app .outputs {
	display: flex;
	flex-flow: row wrap;
}

.speaker-visualizer-container {
	border: 1px solid black;
}

.speaker-visualizer-data-info-title {
	font-weight: bold;
}

.visualization {
	.selected {
		stroke: yellow;
	}
}

#root {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	width: 100%;

	.speaker-visualizer-container {
		border: 1px solid black;
	}
}

.object-list {
	align-items: center;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	width: 100%;
}